- const buttonName = name => name.replace(/ /g, '-')
- const attrName = name => name.replace(/ /g, '_')

mixin label(name, type)
	label(for=`${type}-${attrName(name)}` title=`enter ${name}`) #{name}

mixin textInput(name, type)
	input(id=`${type}-${attrName(name)}` name=`${attrName(name)}` placeholder=name type='text' value=`{{data.${attrName(name)}}}`)

mixin numberInput(name, type, placeholder)
	input(id=`${type}-${attrName(name)}` name=`${attrName(name)}` placeholder=placeholder type='number' value=`{{${type}.${attrName(name)}}}`)

mixin numberInputLabel(name, type)
	+label(name, type)
	+numberInput(name, type)

mixin textInputLabel(name, type)
	+label(name, type)
	+textInput(name, type)

mixin textInputLabelReverse(name, type)
	+textInput(name, type)
	+label(name, type)